img{
	width: 70px;
	height: 70px;
	position:absolute;
}

.Marge_Simpson{
	left:90px;
}

.Bart_Simpson{
	left: 170px;
}

.Lisa_Simpson{
	left: 250px;
}

.Maggie_Simpson{
	left: 330px;
}

div.character{
	position: absolute;
}

div.season{
	position: absolute;
	left:270px;
	top:240px;
}

div.locations{
	position: absolute;
	left: 550px;
}

div.charPane{
	position: absolute;
	left: 800px;
	width: 200px;
	height: 400px;
}
.selection{
	position: absolute;
	border: 1px solid black;
	width: 400px;
	height: 270px;
	left: 800px;
}

svg.sankey{
	position:absolute;
	top:403px;
}

svg.heatmap{
	position:absolute;
	top:1500px;
}
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

button{
	position: absolute;
	left:1100px;
	top: 250px;
}

div.tooltip {  
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: .25em;
	font-size: 12px;
	font-family: Arial,sans-serif;
	opacity: 0;
	background: rgba(0,0,0,.4);
	color: #fff;
	border: 1px solid rgba(0,0,0,.4);
	margin-left: 1em;
	margin-top: -1em;	
}

.label{
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: .25em;
	font-size: 12px;
	font-family: Arial,sans-serif;
	opacity: 0;
	background: rgba(0,0,0,1.0);
	color: #fff;
	border: 1px solid rgba(0,0,0,.4);
	margin-left: 6em;
	margin-top: 1em;
	white-space: nowrap;	
}	

.moveAble{
	position:absolute;
}
