img{
	width: 70px;
	height: 70px;
	position:absolute;
}

.Marge_Simpson{
	left:90px;
}

.Bart_Simpson{
	left: 170px;
}

.Lisa_Simpson{
	left: 250px;
}

.Maggie_Simpson{
	left: 330px;
}

div.character{
	position: absolute;
}

div.season{
	position: absolute;
	left:270px;
	top:240px;
}

div.locations{
	position: absolute;
	left: 550px;
}

.selection{
	position: absolute;
	border: 1px solid black;
	width: 400px;
	height: 270px;
	left: 800px;
}

svg{
	position:absolute;
	top:403px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

button{
	position: absolute;
	left:1100px;
	top: 250px;
}